---
const warningTerms = "Por favor, leia com atenção os termos e condições, ao se cadastrar no site você declara ESTAR DE ACORDO COM O MESMO. Note que a recusa dos TERMOS DE USO o impedirá que utilize as funcionalidades do site."
const object1 = "1.1 O objeto dos TERMOS DE USO e dos contratos eventualmente celebrados entre EMPRESA e USUÁRIO será a prestação dos serviços e o fornecimento dos produtos a seguir descritos: (…)"
const object21 = "2.1 É obrigação do USUÁRIO fornecer informações cadastrais totalmente verídicas e exatas, responsabilizando-se exclusiva e integralmente (em todas as searas jurídicas) por todo o conteúdo por si informado no item cadastro, mantendo atualizado e confirmado o endereço para entrega dos produtos e serviços encomendados."
const object22 = "2.2 O USUÁRIO se obriga, também, a pagar integralmente o preço dos produtos e serviços por si solicitados ou encomendados no SITE."
const object23 = "2.3 O USUÁRIO se compromete a utilizar todos os softwares disponibilizados no SITE para os fins descritos nestes TERMOS DE USO."
const object24 = "2.4 O USUÁRIO será automaticamente descadastrado, caso identificada conduta de sua autoria em desacordo com os TERMOS DE USO."
const object31 = "3.1 Os TERMOS DE USO poderão, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações e inserções, tudo com vistas ao aprimoramento dos serviços e produtos disponibilizados."
const object32 = "3.2 As novas condições entrarão em vigência assim que veiculadas no SITE e informadas ao USUÁRIO, sendo possível a este manifestar oposição às modificações, desde que o faça no SITE, o que irá ocasionar o cancelamento de seu cadastro."
const object41 = "4.1 Todos e quaisquer direitos de propriedade intelectual ou industrial relativos ao SITE pertencem única e exclusivamente à EMPRESA. Em nenhuma hipótese, os TERMOS DE USO ou os contratos implicarão transferência, no todo ou em parte, de qualquer direito de propriedade intelectual ou industrial ao USUÁRIO."
const object42 = "4.2 O USUÁRIO se compromete a utilizar o SITE de acordo com as suas finalidades e exigências técnicas; dispor de meios adequados para a implantação e a utilização dos softwares, incluindo, sem limitação, hardware, rede e pessoal adequados etc.; responsabilizar-se legalmente por quaisquer dados e informações que venham a ser armazenados; não fazer ou distribuir quaisquer cópias dos softwares; não alterar, combinar, adaptar, traduzir, decodificar, fazer ou solicitar a terceiros engenharia reversa dos softwares; não criar trabalhos deles derivados ou solicitar que terceiros o façam; e não ceder, licenciar, sublicenciar ou de qualquer outra forma dispor dos softwares." 
---

<section class="flex justify-center" id="terms">
    <div class="w-11/12 py-[20px]">
        <h1 class="font-Jost text-[8rem] max-xl:text-[6rem] max-lg:text-[6rem] max-md:text-[5rem] max-sm:text-[4rem] max-ls:text-[3.3rem] mt-[40px] font-[500]">
            Termos e condições de uso.
        </h1>
        <p class="font-[500] text-[3rem] max-lg:text-[2.5rem] max-md:text-[2.2rem] max-sm:text-[2rem] max-ls:text-[1.6rem]">{warningTerms}</p>

        <h3 class="mt-[30px] font-[500] text-[3rem] max-lg:text-[2.5rem] max-md:text-[2.2rem] max-sm:text-[2rem] max-ls:text-[1.6rem]">1.Objeto</h3>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object1}</p>

        <h3 class="mt-[30px] font-[500] text-[3rem] max-lg:text-[2.5rem] max-md:text-[2.2rem] max-sm:text-[2rem] max-ls:text-[1.6rem]">2. CONDIÇÕES DE USO E OBRIGAÇÕES DO USUÁRIO</h3>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object21}</p>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object22}</p>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object23}</p>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object24}</p>

        <h3 class="mt-[30px] font-[500] text-[3rem] max-lg:text-[2.5rem] max-md:text-[2.2rem] max-sm:text-[2rem] max-ls:text-[1.6rem]">3. MODIFICAÇÕES DOS TERMOS DE USO</h3>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object31}</p>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object32}</p>

        
        <h3 class="mt-[30px] font-[500] text-[3rem] max-lg:text-[2.5rem] max-md:text-[2.2rem] max-sm:text-[2rem] max-ls:text-[1.6rem]">4. PROPRIEDADE INTELECTUAL</h3>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object41}</p>
        <p class="font-[300] text-[2.6rem] max-lg:text-[2.1rem] max-md:text-[1.8rem] max-sm:text-[1.6rem] max-ls:text-[1.4rem]">{object42}</p>
    </div>
</section>